<head>
  <%= stylesheet_link_tag "style.css" %>
</head>

<body>
  <% @articles.each do |article| %>
    <div class="">
      <div class="tab-content">
        <div class="block">
          <h3><%= article.title %></h3>
          <p><%= article.url %></p>
          <%= link_to "Перейти к статье", article.url %>
        </div>
      </div>
    </div>
  <% end %>
</body>