<head>
  <%= stylesheet_link_tag "style.css" %>
</head>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, content_tag(:p, msg), class: "name" %>
<% end -%>
    
<%= form_with model: @news_source do |form|%>
  <div>
    <div class="formElement">
      <div class="element">
        <div class="mb-3">URL of the feed: </div>
        <div class="mb-3">Name: </div>
        <div class="mb-3">Activated: </div>
      </div>
      <div class="element">
        <div class="mb-3"><%= form.url_field :url %></div>
        <div class="mb-2"><%= form.text_field :title %></div>
        <div class="mb-3"><%= form.check_box :isActive %></div>
      </div>
    </div>
  
    <div><%= form.submit :class => 'btn btn-success' "Save"  %></div>
  </div>
<% end %>