<head>
  <%= stylesheet_link_tag "style.css" %>
</head>
<body>
    <h1 class="header">News Sources</h1>
    <div class="newSourceMain">
        <div class="newSourceBtn">
            <%= link_to "+ NEW SOURCE", new_news_source_path %>
        </div>
        <div>
            <ul class="list-group">
                <% @news_sources_list.each do |news_source| %>
                    <li class="list-group-item title" style="margin-top: 10px;" >
                        <div >
                            <%= news_source.title %>
                            <strong class=<%= news_source.isActive == true ? 'statusActive' : 'statusInActive' %>>
                                <%= news_source.isActive == true ? 'Active' : 'InActive' %>
                            </strong>
                        </div>
                        <div class="UDBtn">
                            <%= link_to "Edit", edit_news_source_path(news_source) %>
                            <%= link_to "Delete", news_source_path(news_source), data: {
                            turbo: true,
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                            } %>
                            <%= link_to "Open", news_source_path(news_source) %>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</body>