<head>
  <%= stylesheet_link_tag "style.css" %>
</head>
<body>
  <h1 class="header">News Source</h1>
  <div class="NewsSourceInfo">
    <p>
      <strong>Title:</strong> <%= @news_source.title%>
    </p>
    <p>
      <strong>URL:</strong> <%= @news_source.url%>
    </p>
    <p>
      <strong>Status:</strong> <%= @news_source.isActive == true ? 'Active' : 'InActive' %> 
    </p>
    <div>
      <%= link_to "Back", news_sources_path %>
    </div>
  </div>
</body>