body {
    background: #fafafd;
    margin: 10px;
    font-size: 13px;
    font-family: Tahoma, Geneva, sans-serif;
}

.tab-content {
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #f5eded;
    border-radius: 3px;
    box-shadow: 0px 4px 10px rgba(35, 33, 33, 0.12), 1px -2px 30px 1px rgba(53, 49, 49, 0.27);
}

.col-md-6 {
    width: 32%;
}

.formDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formElement {
    display: flex;
    height: 100%;
    flex-direction: row;
    margin-top: 0%;
}

.element {
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: aquamarine;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
    /*margin-left: 22%;*/
    padding: 5px;
    max-width: 30%;
}

.btn:hover {
    background-color: aquamarine;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
    color: blue;
}

.header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 28px;
    display: flex;
    justify-content: space-between;
}

.title .statusActive {
    color: blue;
    font-weight: normal;
}

.title .statusInActive {
    color: red;
    font-weight: normal;
}

a {
    background-color: aquamarine;
    color: black;
    text-decoration: none;
    padding: 5px;
    width: 30%;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.newSourceBtn {
    margin-right: 5%;
    padding: 5px;
    align-self: end;
}

.newSourceMain {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.UDBtn a {
    font-size: 16px;
}

.name {
    position: relative;
    color: red;
}

.NewsSourceInfo {
    font-size: 16px;
}